/****************************************************************************
 * styles.css
 *
 *
 * Global CSS.
 ***************************************************************************/

.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
    /* center contents */
    text-align: center;
}

.topp{
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.topp:hover{
    opacity: 1;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

.table {
    word-wrap: break-word;
}

ul
{
    list-style-type: none;
    text-align: left;
}

.glow{
    color: #2F2F2F;
    border: 2px solid #A4A4A4;
    float:left;
    position: relative;
    border-radius: 5px;
    background-color: #D8D8D8;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 5px;
}

.glow:hover{
    /*text-shadow: 0 0 7px #2F2F2F;*/
    background-color: #FFFFFF;
}

tr .buttns {
    visibility: hidden;
}
tr:hover .buttns {
    visibility: visible;
}

.mytextarea {
    width: 600px;
}

#stopBlink{
    position: relative; 
    float:left;
}

#books{
    position: relative; 
    float:left; 
    padding-left: 3px; 
    padding-right: 3px; 
    margin-right: 5px;
}

.highlight {
    text-shadow: 0 0 4px #2F2F2F;
}

#logged{
    padding-top: 10px;
    font-size: larger;
}

.form-search{
    width: 200px;
    margin-left:auto;
    margin-right:auto;
}
.form-search #search, .form-search button{
    margin-top: 5px !important;
}

.alert{
    padding-top: 5px;
    padding-bottom: 5px;
}